<div class="row" style="height: 5em;"></div>

<form>
    <div class="container">
        <div class="row">
            <button type="button" class="btn btn-outline-primary" (click)="Registrarse(registrar)" data-toggle="modal"
                data-target="#exampleModalCenter">
                <i i-bs name="trash-fill"></i>Registrarse</button>
            <button type="button" class="btn btn-outline-success" (click)="Ingresar(ingresar)">
                <i i-bs name="trash-fill"></i>Log In</button>

        </div>
    </div>
</form>

<ng-template #registrar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Registrar Usuario</h4>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <label for="txtDNI">DNI: </label>
                </div>
                <div class="col-6">
                    <input type="number" class="form-control" [min]="1" [max]="9999999999" id="txtDNI"
                        [(ngModel)]="usuario.EMPLEADO.DNI_EMPLEADO" required />
                    <p *ngIf="!usuario.EMPLEADO.DNI_EMPLEADO" style="color: red;">* Ingrese DNI</p>
                </div>
                <div class="col-2">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="txtNombreEmpl">NOMBRE: </label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" id="txtNombreEmpl"
                        [(ngModel)]="usuario.EMPLEADO.NOMBRE_EMPLEADO" required />
                    <p *ngIf="!usuario.EMPLEADO.NOMBRE_EMPLEADO" style="color: red;">* Ingrese el Nombre</p>
                </div>
                <div class="col-2">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="txtApellidoEmpl">APELLIDO: </label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" id="txtApellidoEmpl"
                        [(ngModel)]="usuario.EMPLEADO.APELLIDO_EMPLEADO" required />
                    <p *ngIf="!usuario.EMPLEADO.APELLIDO_EMPLEADO" style="color: red;">* Ingrese el Apellido</p>
                </div>
                <div class="col-2">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="txtEMAIL">EMAIL: </label>
                </div>
                <div class="col-6">
                    <input type="email" class="form-control" id="txtEMAIL" [(ngModel)]="usuario.EMAIL" required />
                    <p *ngIf="!usuario.EMAIL" style="color: red;">* Ingrese el Email</p>
                </div>
                <div class="col-2">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="txtCONTRASENA">CONTRASENA: </label>
                </div>
                <div class="col-6">
                    <input type="password" class="form-control" id="txtCONTRASENA" [(ngModel)]="usuario.CONTRASENA"
                        required />
                    <p *ngIf="!usuario.CONTRASENA" style="color: red;">* Ingrese el CONTRASENA</p>
                </div>
                <div class="col-2">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="txtRECONTRASENA">RE-CONTRASENA: </label>
                </div>
                <div class="col-6">
                    <input type="password" class="form-control" id="txtRECONTRASENA" [(ngModel)]="usuario.RECONTRASENA"
                        required />
                    <p *ngIf="!usuario.RECONTRASENA" style="color: red;">* Ingrese el RE-CONTRASENA</p>
                    <p *ngIf="usuario.CONTRASENA != usuario.RECONTRASENA" style="color: red;">* Password no coinciden</p>
                </div>
                <div class="col-2">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="GuardarUsuario()">GUARDAR</button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">CANCELAR</button>
    </div>
</ng-template>

<ng-template #ingresar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ingresar al Sistema</h4>
    </div>
    <div class="modal-body">
        <div class="container">
            <legend>Sign-In</legend>
            <div class="mb-3">
                <label class="form-label" for="txtUserName">User Name</label>
                <input type="text" class="form-control" id="txtUserName" [(ngModel)]="login.EMAIL" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="txtPassword">Password</label>
                <input type="password" class="form-control" id="txtPassword" [(ngModel)]="login.CONTRASENA" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="Login()">Login</button>
    </div>
</ng-template>