<nav class="navbar navbar-expand-lg bg-body-tertiary nav nav-pills" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">TiendaNet</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li *ngIf="isUserAuthenticated() && perfil == 'Administrador' " class="nav-item">
            <a routerLinkActive="active" routerLink="/cliente/ver" class="nav-link">
              <span>Clientes</span>
            </a>
          </li>
          <li *ngIf="isUserAuthenticated() && perfil != 'Administrador'" class="nav-item">
            <a routerLinkActive="active" routerLink="/producto/ver" class="nav-link">
              <span>Productos</span>
            </a>
          </li>
          <li *ngIf="isUserAuthenticated() && perfil != 'Administrador'" class="nav-item">
            <a routerLinkActive="active" routerLink="/unidad/ver" class="nav-link">
              <span>Unidades</span>
            </a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <a *ngIf="!isUserAuthenticated()" class="btn btn-outline-success" routerLink="/login"><span>Login</span></a>
          <button *ngIf="isUserAuthenticated()" type="button" class="btn btn-outline-danger" (click)="logOut()">Logout</button>          
        </form>
      </div>
    </div>
  </nav>
