<nav class="navbar navbar-expand-lg bg-body-tertiary nav nav-pills" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TiendaNet</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a routerLinkActive="active" routerLink="/cliente/ver" class="nav-link">
            <span>Clientes</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" routerLink="/producto/ver" class="nav-link">
            <span>Productos</span>
          </a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <a class="btn btn-outline-success" routerLink="/login"><span>Login</span></a>
      </form>
    </div>
  </div>
</nav>

<div class="main-content">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="container-fluid">
        
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>