<form>
    <div class="container">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <h1>Administrar Detalle Servicios</h1>
            </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label>Filtros de Busqueda</label>
            </div>
            <div class="col-6">
            </div>
            <div class="col-3">
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col-4">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Codigo: </span>
                    <input type="text" class="form-control" [(ngModel)]="filtroDetalleServicio.ID_DETALLESERVICIO" name="ID_DETALLESERVICIO"
                        #ID_DETALLESERVICIO="ngModel" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col-4">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Descripcion: </span>
                    <input type="text" class="form-control" [(ngModel)]="filtroDetalleServicio.ID_SERVICIO" name="ID_SERVICIO"
                        #ID_SERVICIO="ngModel" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6">
                <div class="btn-group" role="group">
                    <button class="btn btn-primary" (click)="filtrar()"><i class="fa fa-search"></i> Buscar</button>
                    <button class="btn btn-success" (click)="openCrear(mymodalCrear)"><i class="fa fa-plus"></i>
                        Agregar Detalle</button>
                    <button class="btn btn-info" (click)="limpiarFiltros()"><i class="fa fa-recycle"></i>
                        Nuevo</button>

                </div>
            </div>
            <div class="col-3">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Servicio</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of detalles">
                        <tr>
                            <td>{{item.ID_DETALLESERVICIO}}</td>
                            <td>{{item.ID_SERVICIO}}</td>
                            <td>{{item.ID_PRODUCTO}}</td>
                            <td>{{item.CANTIDAD_DETALLE}}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button class="btn btn-warning" title="Editar" (click)="open(mymodal, item)">
                                        <i class="fa fa-pencil"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>

<ng-template #mymodal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar Detalle Servicio</h4>
    </div>
    <div class="modal-body">
        <app-editar-detalle-servicio [detalleServicioSeleccionado]="detalleServicioSeleccionado"></app-editar-detalle-servicio>
    </div>
</ng-template>


<ng-template #mymodalCrear>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Crear Unidades</h4>
    </div>
    <div class="modal-body">
        <app-crear-detalle-servicio></app-crear-detalle-servicio>
    </div>
</ng-template>
